/* ===== GLOBAL BACKGROUND ===== */
body {
margin:0;
font-family:'Segoe UI', sans-serif;
background: linear-gradient(270deg,#020617,#0f172a,#020617);
background-size: 600% 600%;
animation: gradientBG 12s ease infinite;
color:white;
}

@keyframes gradientBG {
0% {background-position:0% 50%;}
50% {background-position:100% 50%;}
100% {background-position:0% 50%;}
}

/* ===== SCHOOL NAME SCROLL BAR ===== */

.school-banner{
    width:100%;
    background:#0b1f3a;   /* deep academic blue */
    overflow:hidden;
    white-space:nowrap;
    padding:14px 0;
    border-bottom:3px solid #eab308;
}

/* moving text */
.scroll-text{
    display:inline-block;
    padding-left:100%;
    font-size:30px;
    font-weight:700;
    font-family:'Segoe UI', Arial, sans-serif;
    letter-spacing:3px;
    color:#ffffff;
    animation:scrollSchool 14s linear infinite;
}

/* animation */
@keyframes scrollSchool{
    0%{transform:translateX(0);}
    100%{transform:translateX(-100%);}
}

@keyframes scroll-left {
0%{transform:translateX(0);}
100%{transform:translateX(-100%);}
}

/* ===== MAIN LAYOUT ===== */
.main {
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

/* ===== GLASS CARD ===== */
.card, .report-card {
background: rgba(17,24,39,0.6);
backdrop-filter: blur(16px);
padding:40px;
border-radius:18px;
width:70%;
box-shadow:0 0 50px rgba(0,0,0,0.7);
border:1px solid rgba(255,255,255,0.08);
}

/* ===== INPUT FIELDS ===== */
input, select {
width:100%;
padding:13px;
margin:12px 0;
border-radius:12px;
border:none;
background:#020617;
color:white;
font-size:15px;
outline:none;
box-shadow: inset 0 0 10px rgba(56,189,248,0.2);
}

/* ===== AI BUTTON ===== */
.ai-btn {
padding:15px;
width:100%;
background: linear-gradient(90deg,#38bdf8,#6366f1);
border:none;
border-radius:12px;
color:white;
cursor:pointer;
font-size:17px;
font-weight:bold;
transition:0.3s;
box-shadow:0 0 20px rgba(99,102,241,0.6);
}

.ai-btn:hover {
transform:scale(1.04);
box-shadow:0 0 35px rgba(56,189,248,0.9);
}

/* ===== RESULT SECTIONS ===== */
section{
margin-top:25px;
padding:22px;
background:#020617;
border-radius:14px;
box-shadow:0 0 18px rgba(56,189,248,0.25);
transition:0.3s;
}

section:hover{
transform:scale(1.02);
box-shadow:0 0 28px rgba(56,189,248,0.6);
}

/* ===== AI LOADING PREMIUM ===== */
.loading{
text-align:center;
margin-top:120px;
}

.ai-circle{
width:70px;
height:70px;
border-radius:50%;
border:6px solid #38bdf8;
border-top:6px solid transparent;
margin:auto;
animation:spin 1s linear infinite;
box-shadow:0 0 30px #38bdf8;
}

@keyframes spin{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}

/* ===== AI TYPING EFFECT ===== */
.ai-typing {
font-size:18px;
color:#38bdf8;
border-right:3px solid #38bdf8;
white-space:nowrap;
overflow:hidden;
width:0;
animation:typing 4s steps(40,end) forwards, blink 0.7s infinite;
}

@keyframes typing {
from {width:0;}
to {width:100%;}
}

@keyframes blink {
50% {border-color:transparent;}
}