body {
margin:0;
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(135deg,#020617,#0f172a,#020617);
color:white;
}

.main {
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.card, .report-card {
background:#111827;
padding:40px;
border-radius:16px;
width:70%;
box-shadow:0 0 40px rgba(0,0,0,0.6);
}

input, select {
width:100%;
padding:10px;
margin:10px 0;
border-radius:8px;
border:none;
background:#020617;
color:white;
}

.ai-btn {
padding:12px;
width:100%;
background: linear-gradient(90deg,#38bdf8,#6366f1);
border:none;
border-radius:8px;
color:white;
cursor:pointer;
}

section{
margin-top:25px;
padding:18px;
background:#020617;
border-radius:12px;
box-shadow:0 0 15px rgba(56,189,248,0.15);
}

.loading{
text-align:center;
margin-top:100px;
}

.ai-circle{
width:60px;
height:60px;
border-radius:50%;
border:5px solid #38bdf8;
border-top:5px solid transparent;
margin:auto;
animation:spin 1s linear infinite;
}

@keyframes spin{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}